*{
    box-sizing: border-box;
    vertical-align: top;
    border: 0;
    margin: 0;
    padding: 0;
    outline: red 1 px dashed;
}


.top_nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.leaf_logo{
    background-color: rgb(0,195,190);
    height: 35px;
    border-radius: 3px;
}

.top_nav{
    padding: 20px;
}
.nav_leftside{
    display: flex;
}

.main_title{
    margin-left: 30px;
}

.search_btn{
    width: 500px;
    border: 1px black solid;
    border-radius: 15px;
    height: 25px;
    padding: 10px;
}

.sign_in_btn{
    height: 20px;
    background-color: white;

}

.cart{
    height: 30px;
    width: 45px;
}

.plant_names{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 10px;
}

.container{
    width: 775px;
    border-top: 3px solid black;
    margin: 0 auto;
}


.top_text{
    text-align: center;
    margin: 30px;
}

.top_contents{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.left_text{
    display: flex;
    height: 200px;
    width: 200px;
    background-color:rgb(0,195,190) ;
    color: white ;
    padding: 30px;
    text-align: center;
}

.succulents1{
    height: 200px;
}

.aloe_m_img{
    margin-left: 20px;
    height:130px ;
    width: 200px;
}

.right_side{
    
    margin-left: 20px;
    background-color: rgb(0,195,190);
    height: 55px;
    width: 175;
    margin-top: 15px;
}

.inner_text{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: white;
}

.arrow{
    height: 25px;
}

.bottom_content{
    display: flex;
    height: 150px;
    width: 620px;
    justify-content: space-between;
    background-color:rgb(0,195,190) ;
    margin: 0 auto;
    padding: 30px;
    
    
}

.bottom_img{
    display: flex;
    height: 80px;
    border-radius: 50%;
}

.img_text{
    font-size: .8rem;
    text-align: center;
}

.cookie_policy{
    display: flex;
    justify-content: space-evenly;
    border: 3px solid black;
    align-items: center;
    height: 100px;
    
}

.accept_btn{
    height: 20px;
    width: 70px;
    box-shadow: 3px 3px 3px;
    background-color:rgb(0,195,190);
    color: white;
}

